[2015-07-22 09:55] epon opened #1 "Merge with GRUB2?"
There is some nice work here and I can really see the benefit of these additions.

Are there any plans to merge your changes upstream to GRUB2?

[2015-07-22 19:36] johnlane commented on #1
Hi, I have submitted the work upstream. I have taken feedback and made some changes. I have resubmitted patches on 29th June (http://lists.gnu.org/archive/html/grub-devel/2015-06/msg00109.html). I have as yet had no response to that posting. I should chase them up...

[2015-08-05 12:33] piec opened #3 "Luks with detached header"
Hi, nice work !

I'm trying to use a luks partition with detached header, the partition is btrfs over dm-crypt.
(I also have a setup with btrfs over classic classic luks so I guess it should be fine).
My grub is located on an unencrypted partition right now to simplify things.

[code]
My setup looks like this:
[code]
cryptomount asks for the passphrase and apparently correctly opens with slot 0
bu

[2015-08-06 17:19] johnlane commented on #3
Omit the parentheses on the cryptsetup drivespec:

[code]

You should then be able to do
[code]

[2015-08-06 17:23] johnlane commented on #1
Just to let you know that I have chased upstream about getting this work adopted but I haven't got anywhere with it. I have responded to feedback but they haven't responded to let me know what's preventing its adoption. I'll update this tread with any updates.

If anyone else wants to add their support to this they could reply to the above-linked thread on the mailing list to show support.

[2015-08-07 07:13] piec commented on #3
Yay ! it works now :)
With a tweaked initramfs obviously. Archlinux encrypt hook doesn't support the '--header' parameter yet. I might contribute that to them.

[2015-08-07 07:13] #3 closed

[2015-08-07 07:47] piec opened #4 "Luks detached header + GRUB_ENABLE_CRYPTODISK=y"
Hi again John

I suppose this is not supported yet by grub-install
I did:
[code]
And I got
[code]
(where xxx is the luks uuid)

I would have to tell grub-install where to find the header anyway.
Am I missing something ?
Thanks

[2015-08-08 16:38] johnlane commented on #3
That's [already](https://bugs.archlinux.org/task/42851?only_watched=1&type%5B0%5D=&sev%5B0%5D=&due%5B0%5D=&cat%5B0%5D=&status%5B0%5D=open&percent%5B0%5D=&reported%5B0%5D=) raised that them Piec. If you use systemd in the initramfs then you can achieve what you want using unit files. That;s the approach that I took after having difficulties unlocking an LVM volume group. See [this thread](https://b

[2015-08-08 16:46] johnlane commented on #4
I haven't done any work on the autogeneration of config and I don't know if it supports the crypto options, even without my enhancement patches.

I haven't done anything to the autogeneration code so it definately does not support the detached headers, keyfiles or any other options that I added.

I personally think that using crypto and specifically detaching headers/lkeys or using alternative cip

[2015-08-08 18:09] piec commented on #4
I agree with you about autogeneration of grub.cfg, but I'm not talking about that or I didn't really understand what you wrote. I'm using grub-install here not grub-mkconfig.

I'm talking about using `GRUB_ENABLE_CRYPTODISK=y` so that /boot/grub is also in an encrypted partion. Before showing the grub menu, grub asks for the passphrase to unlock the luks volume.
I don't really know the inner worki

[2015-08-08 18:10] piec commented on #3
Cool ! I didn't know about it thanks

[2015-08-09 21:38] johnlane commented on #4
Ah, sorry I misunderstood you. As far as I understand it, `GRUB_ENABLE_CRYPTODISK` is a setting made in `/etc/default/grub` that is used by `grub_mkconfig` to autogenerate `grub.cfg`. You don't need that if you aren't autogenerating.

The `grub-install` puts Grub on the bootable medium so that it can be booted. If you're doing `grub.cfg` by hand then you need to manually put your config onto `/gru

[2015-12-09 08:28] smacz42 opened #5 "Booting live iso files from encrypted partition"
As explained [here](http://ms26ilrtla2rfuzz.onion.link/) I am attempting to boot a live iso that resides in an encrypted partition. However:

Some say that this is possible by booting a kernel (stored in the unencrypted /boot) to use to boot the iso in the encrypted filesystem. Would this patch enable GRUB to map between the filesystem and the kernel modules?

Just a shot in the dark here.

[2015-12-18 15:15] johnlane commented on #5
Hello. If I understand you correctly, you have a encrypted partition containing an iso that you would like to boot. My patches allow Grub to unlock an encrypted partition. Once that is done, its usual commands can be used to boot the iso in the same way as if that partition wasn't encrypted.

That said, note that the decryption done by Grub allows Grub to see the encrypted partition so that it can

[2016-03-26 11:37] kriswebdev opened #6 "Deniable encryption with encrypted key"
Hi and thanks for this project.

In the [project page](http://grub.johnlane.ie/), I see no example method with both:

- **deniable encryption** achieved by:
 - full disk encryption (no plain keyfile even on USB key), except the bootloader and fake O.S. partition/disk
 - bootloader with command-line option to start the real O.S.

- **encrypted keyfile** (with a SHA256-ed passphrase):
 - provides th

[2016-03-26 19:41] johnlane commented on #6
Hi, the way I use this is with LUKS volumes with bootloader, headers and keys on a USB stick. The headers and keys are in an encrypted partition on the stick. So it boots, I select an option and enter a passphrase to reveal a second grub menu from which I boot.

But it isn't deniable if you have the USB stick as it will be obvious there is an encrypted partition on the stick that the bootloads has

[2016-03-28 23:39] kriswebdev commented on #6
Thanks for the ideas. I'll experiment this.

By the way, if you have time, you should merge upstream and [this commit](https://github.com/dkasak/grub/commit/4819d3ded16839dbf35d6210b3d1dd7cf137a92f) as it's necessary to stay compatible with upstream. I've did it after forking your project and merging upstream/master, it works. There's just 1 minor conflicting line of code when merging upstream by

[2016-03-31 22:07] kriswebdev commented on #6
GRUB shell doesn't support pipes, but the built-in command line programs generally allow specifying [files as blocklists](http://members.iinet.net/~herman546/p20/GRUB2%20CLI%20Mode%20Commands.html#FILE), e.g. `(hd0,1)0+1`. However it must be by increments of sector-size (512 bytes).

Basically, what we need as an input is the location of the "payload" data, that must look like random data and that

[2016-04-01 16:24] johnlane commented on #6
I've just merged that commit. I thought I had but I haven't looked at this for some time. I'll try to find some time to update this repo with upstream. I would have preferred them to adopt my patches however.

[2016-04-08 21:26] kriswebdev commented on #6
I've voted for your pull requests at savannah.gnu.org bug tracker but I doubt it has any impact, there's no "sort by vote".

I'm actively working on a Deniable LUKS header, I'll keep you posted.

By the way, you should add `insmod luks` in your screenshot.

[2016-04-11 19:45] #4 closed

[2016-04-11 19:46] #5 closed

[2016-04-11 20:12] johnlane commented on #6
Hi, I've just updated my repo to the latest savannah master. Like you mentioned, there was one line in `cryptodisk.c` that needed to be modified following an upstream commit `c93d3e69` on 2015-09-13. I've also updated the patches on the website so they are compatible with the current master head (`abf9beb7`).

I've just looked at your fork and I think it's an interesting idea. I have a couple of c

[2016-04-11 20:15] johnlane commented on #1
General update for anyone interested. I have merged upstream into this repo today. The crypto-patches are still not in upstream, however. The patches on the website are compatible with upstream commit abf9beb7.

[2016-04-13 20:15] kriswebdev commented on #6
Indeed, this ["header"](https://github.com/kriswebdev/cryptsetup-deluks/blob/master/lib/deluks1/deluks.h) would contain only random-looking data (salts, digest & encrypted header). That's very similar to Truecrypt header, but with LUKS advantages (8 keys support and anti-forensic information splitter) and support in GRUB cryptomount.

You're right, I came to the same conclusion so the header will

[2016-04-14 10:29] johnlane commented on #6
The LUKS header begins with the identifiable string `LUKS` followed immediately by hex `0xBABE`. I wrote some things a while back that may be of interest to you:
-  [afsplitter](https://github.com/johnlane/afsplitter)
- [libafsplit](https://github.com/johnlane/libafsplit)
- [luksdump](https://github.com/johnlane/random-toolbox/blob/master/usr/bin/luksdump)
- [luksheadersize](https://github.com/joh

[2016-05-27 14:02] giddie opened #7 "Use entire device as keyfile"
I like to have some two-factor security by keeping my keyfile password-protected on my USB key by storing it in its own LUKS container (to keep code complexity at a minimum). This works great in my initrd, basically doing this:

[code]

I'd really like to push this scheme up to the GRUB layer. Using your patches, I'm able to read a keyfile to open my crypted devices, but can't quite get my scheme

[2016-05-31 15:08] johnlane commented on #7
The ke file is opened by a Grub routine called `grub_file_open`. The relevant code is in my [second patch](http://grub.johnlane.ie/assets/0002-Cryptomount-support-key-files.patch) and is basically this:

[code]

where `state[4].arg` is whatever you give as a parameter to `-k`.

Now, I don't know whether `grub_file_open` will open a device and, if it would, I don't know how it would expect that to

[2016-06-13 08:47] giddie commented on #7
I've given this some thought, and it seems to me that since GRUB has a strong concept of a device vs a file, it might become somewhat ugly to introduce the device-as-file concept at a low level. In your opinion, how difficult would it be to create a new module, similar to the `loopback', but the opposite way around. For instance:

[code]

With this API, it should also be possible to implement offs

[2016-06-13 09:13] giddie commented on #7
Sorry, I misread your comment regarding `grub_device_open`. I thought you were suggesting changing a low-level library. Having taken a closer look at the code, it doesn't look overly difficult to add another option to read from a device instead of a file. Although I still like the elegance of having a separate module to map a device to a file, it would probably be an unreasonable amount of work ju

[2016-08-30 11:03] johnlane commented on #7
Merged #8
I have also updated the web documentation to refer to the new feature.

[2016-08-30 11:03] #7 closed

[2016-10-07 01:32] desmond-decker commented on #1
You are my goddamned hero, buddy. This should be in the upstream!

[2016-10-09 15:15] desmond-decker opened #9 "Plain mode cipher issue"
When attempting to decrypt a "plain mode" container (with -p), if the cipher is incorrectly typed the password prompt comes up but then hangs and can't decrypt or exit, and the system needs to be rebooted.

A quick check to see if the cipher inputted by the user (with -c) is correct/available (and an error an if not) before moving to the passphrase prompt would be good.

[2016-10-09 15:30] desmond-decker commented on #6
I can confirm a pure linux-based "truecrypt-style" hidden OS with deniable encryption is possible with grub crypt, booting from a plain-mode encrypted volume (with an offset) inside the empty space at the end of a LUKS volume containing other files.

Including this in the upstream could transform the crypto/privacy/security landscape...

[2016-10-10 21:08] kriswebdev commented on #6
@desmond-decker Plain-mode encrypted volumes are risky without a very strong password. It removes LUKS advantages:
- No protection against brute-forcing (password is not hashed several times with PBKDF2 to increase cracking time, "several" increasing along with computing power evolution)
- No protection against rainbow-table attack (no salt)
- Unability to change the password (no LUKS keyslot)

I'

[2016-10-11 10:20] johnlane commented on #6
Surely a detached LUKS header gives you the benefits of LUKS with the deniability of plain dm-crypt?

I am not I understand sure what's needed beyond that?

I agree that just using plain mode is weaker due to the algorithms employed by LUKS for passphase processing. These include a PBKDF2 and [AFsplitter](https://rubygems.org/gems/afsplitter) which bloats the amount of data that the passphrase is

[2016-10-11 10:21] johnlane commented on #9
Hi, if you want to submit a PR I can take a look at it, but I haven't the time to look at it myself right now...

[2016-10-12 15:36] johnlane commented on #1
Just an update for anyone interested. Upstream changed the status on the issues:
- http://savannah.gnu.org/bugs/?43731 Priority: 5 - Normal => 3 - Low
- http://savannah.gnu.org/bugs/?43727 Priority: 5 - Normal => 3 - Low

So nothing exciting to report :)

[2016-10-16 00:13] desmond-decker commented on #6
If you have a plain-mode container inside of the "empty" space at the end of a LUKS container that has been properly initialized with /dev/urandom data, the empty space looks like random data and your plain-mode container hidden within it also looks like random data. The password strength issue is mitigated by the fact that the exact offset is needed to open the container, as well as the password.

[2016-10-16 08:27] kriswebdev commented on #6
You're right, holding the key in a plain-mode container is quite secure when using a randomly-chosen offset. It's like increasing the password strength with a big number, instead of relying on PBKDF2 to hash it several times. To be as strong as 20.000 PBKDF2 iterations, you need to put it at an offset chosen randomly among at least 10MB (20.000 \* 512 bytes block size) of random data.
- The most n

[2016-10-16 12:55] #6 closed

[2016-10-23 10:07] neuhaus commented on #1
Ubuntu 16.04 comes with `/usr/lib/grub/i386-pc/cryptodisk.mod` as part of the `grub-pc-bin` package.

[2016-10-23 10:10] neuhaus opened #10 "Remotely unlocking LUKS partitions, grub gets in the way"
Hello,

I have a server with an encrypted root partition that I want to unlock by logging in via dropbear running in the initrd image.

It appears that grub gets in the way, if it detects the LUKS partition a line "cryptomount -u <uuid>" is automatically added to the grub configuration. What's the best way to tell grub not to deal with LUKS partitions?

[2016-10-28 12:36] johnlane commented on #1
@neuhaus that's the stock `cryptodisk` surely? Or are you saying that it includes these patches? What does `cryptomount -h` show (compare with [this](http://grub.johnlane.ie/assets/grub-crypto.png)) ?

[2016-10-28 12:46] neuhaus commented on #1
Oh, you're right. Sorry for the confusion.
(I don't use cryptodisk in grub so I can't tell you what the output is, sorry)

[2016-10-28 13:04] johnlane commented on #10
You could manually edit the `grub.cfg`, which I expect is being generated by `grub-mkconfig`. These extensions don't apply to auto-generated grub configs so this is probably off-topic here...

[2016-10-28 13:14] neuhaus commented on #10
I overlooked the simple solution of setting `GRUB_ENABLE_CRYPTODISK=n` in `/etc/default/grub`.

[2016-10-28 13:14] #10 closed

[2016-11-01 08:30] awnumar commented on #1
1+ for this. If merged, we'd have the ability to create drives with truly deniable encryption.

[2016-11-26 13:23] Vaesper opened #11 "Encrypted boot on LUKS with detached header."
When playing around with the following setup:
[code]
With /boot, including the grub folder and the initramfs images inside the root partition, and grub installed to the hard disk.

I encountered the catch-22 that trying to cryptomount from grub commandline doesnt work if the grub modules are on an encrypted partition. Rather than being able to grub-install, I've had to call `grub-mkimage` with the

[2016-11-27 18:15] johnlane commented on #11
Your setup sounds very similar to mine. First off, let me say that these extensions make no changes to the parts of Grub that autogenerate things. I am not sure that I understand your problem but I'll describe what I do and perhaps you can come back with thoughts or more information...

My USB stick contains a plaintext `ext4` partition containing some Grub config, including all the modules and su

[2017-02-11 10:09] ghost opened #12 "Support for IV skip parameter"
According to cryptsetup man page plain in order to decrypt plain dm-crypt partition following parameters are needed: password, hash, cipher, key size, partition start offset and IV skip parameter. Currently there is no support for last option. It is missing both in source code and in cryptomount help page.

Repeating from man page:

--skip, -p how many sectors of the encrypted data to skip at the

[2017-02-11 21:04] johnlane commented on #12
I took a *very quick* look at this for you this evening.

Adding the parameter would be easy but implementing the functionality would require modifying function `grub_cryptodisk_create` (it's wholly defined in patch 4). I only moved that function from one file (`luks.c`) to another (`cryptodisk.c`) - I never messed with its implementation and I don't understand its internals.

I'd be concerned tha

[2017-02-11 21:04] #11 closed

[2017-02-11 21:06] johnlane commented on #1
Grub Crypto is currently being discussed on [help-grub](http://lists.gnu.org/archive/html/help-grub/2017-02/msg00017.html) in case anyone wishes to join in...

[2017-02-12 10:43] ghost commented on #12
I am interesting in supporting this parameter for the purpose of plausible deniability, because this option is not required, I am not interested in it as much.

I agree that modifyng more code decreases chances of adopting pull in mainstream. I am inclined toward adopting pull with dm-crypt without IV.

I have strong experience in C programming in areas of low-level programming, I am also interest

[2017-02-13 11:41] johnlane commented on #12
Closing because the OP user was deleted.

[2017-02-13 11:41] #12 closed

[2017-03-01 14:23] ChewbaccaKL commented on #9
Here is how to reproduce the thing:
Take my compiled efi-grub: with RMD160 and without:

http://users.camk.edu.pl/chris/bugs/cryptomount/with-rmd160/bootx64.efi
http://users.camk.edu.pl/chris/bugs/cryptomount/without-rmd160/bootx64.efi

when you boot from that (ensure there are no loadable modules on grub-accessible filesystem), do:

    cryptomount hd0 -p -c aes-xts-plain64

(and type whatever as

[2017-03-03 20:58] johnlane commented on #9
AH, I get what this is about now. I will take a look at it the next time I focus on this project - meanwhile if it's urgent for you and you can offer a fix please send me a pull request.

[2017-10-22 02:31] xenithorb commented on #1
I would like to see this rekindled if at all possible. I recently merged the patches you provided with the official fedora packaged version of grub here on my COPR repo: https://copr.fedorainfracloud.org/coprs/xenithorb/grub2-crypto-enhance/ (as an experiment, it's not well tested.)

Thanks for your improvements! It's certainly in the right direction, and I hope you can get upstream on board soon.

[2017-10-24 13:53] xenithorb opened #13 "Grub scripts for generated configurations?"
Assuming the rest of this goes forward and gets merge into grub, what will be the plan to allow end users like myself to configure it?

The biggest issue that I see is most distributions upgrade kernels during the normal upgrade process that usually triggers some script like grubby (which in turn calls `grub-mkconfig`) to regenerate the configuration.  This is of course why we have `/etc/grub.d/`

[2017-10-24 13:54] xenithorb opened #14 "Is UUID for keyfile/header supported?"
i.e. "How do I use a USB drive with a keyfile or header on it and ensure the path is consistent"

[2017-10-26 16:26] johnlane commented on #14
I presume you refer to the `cryptomount -k (hd0,1)/keyfile ...`?

The provided extensions do not alter the ways that a device can be addressed. If Grub supports it then I think it should work. But that's a glib statement and it isn't that simple :)

The problem is that "raw" devices containing headers  or keyfiles don't have a UUID by which they can be identified.  Grub knows how to identify a LUK

[2017-10-26 16:34] johnlane commented on #13
I have not addressed the problem of autogenerating config. I hope we can get the functionality provided thus far into the main Grub so those that wish to may rool up their sleeves and edit their `grub.cfg` to their needs.

There are issues to overcome for autogeneration, not least a reliable way to identify headerless devices.

I do think a plan for autogeneration is needed and this is a good plac

[2017-10-26 16:38] xenithorb commented on #14
Yeah the question is a follow-up to this: https://github.com/johnlane/grub/issues/13 and I thought it should be asked separately.

Well that's close to what I had in mind... So that answers my question, I need to encrypt the external device and that's the only way for it to have a consistent identifier, is that correct?

That's really the major problem here, is that I just didn't understand how to

[2017-10-26 19:09] johnlane commented on #1
I've just merged this repo too, to upstream master `afd0e534`.

[2017-10-26 19:24] johnlane commented on #14
I should write up my usage pattern and put it on the website. Plus a note clarifying the situation regarding automated config.

But, to summarise it... the machines I boot have no bootloader on their internal storage. The internal storage is encrypted, depeding on my needs as LUKS on LVM or LVM on LUKS. I have a USB stick that contains the pacthed Grub bootloader. It boots a normal unencrypted `gr

[2017-10-27 00:22] johnlane commented on #14
I've updated the website with a [supplementary page](http://grub.johnlane.ie/grubby-usb.html) using notes I made some time ago. They basically cover how I created an encrypted bootable USB stick, plus various bits of other background information. I hope it's of use to you.

[2018-02-24 18:42] Yannik opened #15 "Offer patches to grub mailing list again?"
From my reading of the grub mailing list, the latest information is, that they would consider to include your patches in the next release (source: https://lists.gnu.org/archive/html/help-grub/2017-02/msg00030.html)

Perhaps you could try to get some updates on this? I thank you alot for these patches and would love to see them included in grub.

[2018-02-24 18:48] Yannik commented on #14
@johnlane As a follow-up to your explanations: In the grub.cfg on your encrypted usb stick partition, you hardcoded the encrypted partition of the machine you want to boot as (hdX,gptY)?

[2018-03-01 13:44] johnlane commented on #14
@Yannick do you refer to this:
[code]
where I have explicitly stated `hd1,1` and `/dev/sda1` ?

Yes the device is hard coded. It is a limitation of the encrypted partitions that they cannot be autodetected.

[2018-03-01 13:48] johnlane commented on #15
@Yannik yes that is what was said. I think it would be better if others pushed for this rather than just me so it can be seen that others want it. Perhaps you might like to raise it with them. If they want the patches then I will update everything and pass them on (but nothing has changed since the last time that I updated it).

I'm going to close this issue becuase there is [another one](https://

[2018-03-01 13:48] #15 closed

[2018-03-01 18:39] Yannik commented on #14
@johnlane Yeah, I read the suggestion of using device model/serial number on the ml. Just wanted to clarify.

[2018-03-01 22:51] johnlane commented on #14
I think the device model/serial number would work nicely but I didn't have the time to delve into the code to work out how to do it. If this work does ever get taken upstream it might spur me on to look at autodetection based on device model/serial number.

[2018-03-06 10:31] Yannik commented on #15
@johnlane I've written an email to grub-devel. I will revisit the issue on grub-help if I get no reply (feel free to remind me in case I forget)

[2018-03-07 21:37] Yannik commented on #15
@johnlane I received the following reply:

could you possibly take care of this, as you know the code best?

[2018-03-13 19:30] johnlane commented on #15
@yannick I will rebase the patches. I do it periodically anyway so now is as good a time as any. I'll report back here once I have reposted them and I will reply to Daniel on the mailing list.

[2018-03-13 19:31] Yannik commented on #15
@johnlane Great!

[2018-03-14 11:00] johnlane commented on #15
@Yannik Patches applied and sent to ML. I also updated the grup-crypt site.

[2018-03-14 11:46] johnlane commented on #1
I have updated the patches in line with the current master branch and resubmitted them to the grub-devel mailing list.

[2018-05-29 19:40] amoghe commented on #1
Since this has not been merged upstream yet :

IIUC all the changes in this repo only target the `cryptodisk` module, so I should be able to build this repo, and simply take that module and drop it onto my current system, correct? Any reasons this would not work?

[2018-05-31 22:00] Tuxuser-Tijon opened #16 "Installation problem with grub"
Hello John,
I tried to install your enhanced grub for detached LUKS header support. This is my layout and what I did:
Harddisk SDD LUKS container, detached header, with three LVM partitions (root, home, swap).
USB disk with three partitions (unencrypted EFI partition, encrypted partition, data partition), with only the unencrypted EFI partition as part of my system (according to your guide option

[2018-06-05 12:10] johnlane commented on #1
@amoghe, the modules affected by this work are `cryptodisk` and `luks`. I think that you should be able to do what you suggest as long as the build and run-time versions are the same. But I have not tried to do this myself.

[2018-06-05 12:43] johnlane commented on #16
Hello Paul,

I have not tried this on an EFI system because I don't have one, so that command-line isn't familiar to me. When I use `grub-install` with a BIOS, it goes like this:
[code]
where `/mnt` is where the grub files get written to (e.g. what would normally be `/boot` but in my case is the plaintext filesystem on my usb stick and `sdj` is the usb stick. I describe this on the [example](http:

[2019-05-18 14:58] StevenDoesStuffs opened #17 "Installation problem with only grub-crypto"
When running `grub-probe -d /dev/SysVG/root` I get an error of `cannot seek /dev/mapper/cryptroot`.
When running `grub-install --target=x86_64-efi --efi-directory=/boot/efi --bootloader-id=GRUB` I got an error of
[code]

I'm trying to set up LVM on LUKS, with a detached header on the boot partition, and my lsblk looks like so:
[code]
Notice that there is nothing with UUID `bd52c91...`.
I am using

[2019-07-07 12:01] mxfm opened #18 "Update patches to grub version 2.04"
Hi!

Grub was updated to version 2.04 at 2019-07-05 (https://ftp.gnu.org/gnu/grub/).

Please update patches.

P. S.

I refer to patches at https://grub.johnlane.ie/ which are reffered by archlinux aur package https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=grub-luks-keyfile

Compilation log:

=========================

grub-core/disk/cryptodisk.c: In function ‘grub_cryptodisk_open’:
grub-co

[2019-07-09 05:26] mxfm commented on #18
The solution is to put GRUB_FILE_TYPE_NONE to grub_file_open()

https://aur.archlinux.org/packages/grub-luks-keyfile/

[2019-07-13 10:14] johnlane commented on #18
Thank you for this. When I next do an update I will apply the fix. I'm not sure when I'll get around to it given zero interest from upstream.

[2019-07-14 09:02] mxfm commented on #18
Why upstream has zero interest? After reading last conversation in mailing list which happened in March 2018 (or so, I don't remember exactly) and precedinc conversations from 2016-2017, my conclusion is that patches are welcomed, but support for autogeneration is needed.

In particular, grub developers want that 'grub-mkconfig' could parse relevant settings (probably, from '40-linux.custom' confi

[2019-07-23 19:35] johnlane commented on #18
Hi, I have not implemented auto generation and have no plans to because I don't need it and I haven't got the time. I would be happy to accept a pull request for the functionality though.

I don't think there should be any dependency on getting what I have done adopted independently of auto generation - there is genuine interest in using the functionality without auto generation which (as you may

[2019-07-24 05:03] mxfm commented on #18
Thank you for the work, I understand that this is voluntary business.

Agreed, that functionality can be adopted with auto generation, but I am interested in getting this patches in grub. Do you think that fixing auto-generation issue (writing code to support this) will help to bring patches to mainsteam?

[2019-07-24 09:36] johnlane commented on #18
I don't know. You could do the work and it may still go nowhere. I made several changes on feedback from upstream but it still went nowhere. Perhaps raise this on the mailing list and try to get any commitment from them that you can (I will monitor and contribute to the thread if necessary).

If we can get this adopted I will do what I can, and I would appreciate the help!

[2019-09-04 09:10] attila-lendvai commented on #4
@johnlane do you happen to have a blog post about your pendrive setup that loads the LUKS headers from the pendrive?

[2019-09-07 11:48] johnlane commented on #4
@attila-lendvai have you seen [this page](http://grub.johnlane.ie/grubby-usb.html) ?
I also wrote a more in-depth article for [Linux Format](https://www.linuxformat.com/archives?issue=246). It doesn't cover the encryption part but does explain how to set up the usb stick.

[2019-09-08 19:17] attila-lendvai commented on #4
@johnlane thank you, i'll take a look!

(linuxformat is currently down)

[2019-10-15 15:54] sharethewisdom opened #19 "echo * placeholders?"
I recently had a broken laptop keyboard. A few keys that had to be pressed really hard to trigger. My usb keyboards have a different layout and I didn't want to carry them along. So while waiting for 3 weeks for a replacement keyboard I got frustrated typing the long and complicated luks passphrase.

Would you be interested to include another patch? Should [this](https://git.savannah.gnu.org/cgit/

[2020-05-09 08:00] bruts01 opened #21 "grub 2.06 (luk2 support)"
Due to the fact that latest grub has included LUKS2 support, I think it might be time to update these patches for the newest version?
Or are most options, like detached header, possible with the new grub by default?

[2020-10-28 22:08] reagentoo commented on #21
I have recently merged patches with the latest upstream revision. I fixed the build problems, but didn't have time to test. You can find them here https://github.com/reagentoo/grub/tree/cryptopatch_v5.

[2020-10-28 22:25] reagentoo opened #22 "PARTUUID"
My usage pattern involves at least two drives. The first drive has a grub installed, grub.cfg, luks header and a key. On the second drive, there is only one partition with a cryptodisk without any headers.
Grub currently does not able to identify the drive by PARTUUID. Any workaround may be?

[2020-10-29 18:49] reagentoo commented on #22
Good news. A year ago this was introduced to `probe` command:
https://git.savannah.gnu.org/cgit/grub.git/patch/?id=f2b9083f859c7dbf44a7a8e96ee0cf202f9a4187
https://git.savannah.gnu.org/cgit/grub.git/patch/?id=c7cb11b2198a07098143ecc67b19497ba25df28f

Usage:
`probe --part-uuid device`

[2020-10-30 10:37] reagentoo commented on #22
I've added a  `--part-uuid` for `search` command:
https://github.com/reagentoo/grub/commit/44ce0140759d26144fd07f6af62aea284565e498
[search_partuuid](https://github.com/reagentoo/grub/tree/search_partuuid) branch

Opened bugs:
https://savannah.gnu.org/bugs/index.php?59407

@johnlane Could you please share your experience on how to push changes upstream?

[2020-11-03 12:53] reagentoo commented on #21
I've added a luks2 keyfiles/headers support to this [branch](https://github.com/reagentoo/grub/tree/cryptopatch_v5):
https://github.com/reagentoo/grub/commit/e3d9a2c725a9ae40a0dda93eb6162581318323fe

Known issues:
1. Grub2 does not support `argon2i` PBKDF (which is default on luks2 partitions).
To use this branch you should create luks2 by the command:
`cryptsetup luksFormat --type luks2 -q -h sha

[2020-11-08 19:50] johnlane commented on #22
Hi, sorry not been active on this recently. I did have some back-and-forth with patches but it was too difficult for me to make any progress - I don't have the time to devote to this personally. I think somebody else was pushing my patches again to see if some traction could be gained. But I'm sorry that I haven't had any time to devote to this in recent times.

[2021-07-19 20:03] xenoterracide commented on #5
@johnlane can you provide instructions on how to do this? I've had problems constructing the Linux line

[code]

[code]

[2021-07-22 19:21] johnlane commented on #5
The format of the Linux line is heavily dependent on the structure of the ISO you're trying to boot. I've never tried Manjaro myself but let's assume it follows along the lines of Arch...

This is an excerpt from my own `grub.cfg`, unedited, so it's what I use myself to boot isos off the usb stick.
[code]
To illustrate the differences between various isos, here are other examples from the same `gr

[2021-07-23 18:45] xenoterracide commented on #5
thanks that helped me figure it out, what really made me pay attention was the longer path to the initrd for the arch initird image. For some reason I never put together that said image was on the ISO.

[2021-10-26 09:25] Veek opened #23 "make fails on Debian 11.1 error: alignment 1 of ‘struct grub_btrfs_inode’ is less than 8 [-Werror=packed-not-aligned]"
[code]
Linux debian 5.10.0-9-amd64 #1 SMP Debian 5.10.70-1 (2021-09-30) x86_64 GNU/Linux
after git clone

[2021-12-29 13:23] mxfm opened #24 "Does the detached header support patch really works?"
Hi!

I have (maybe strange) but straightforward question - does the detached LUKS header patch really worked? How well was it tested?

I work on keeping up-to-date five grub crypto enhacement patches (detached header support, keyfiles, multiple password attempts, plain dm-crypt support and UUID hyphens support) from this repo in AUR repository of Arch Linux distribution. I personally used only pla

[2021-12-29 20:08] johnlane commented on #24
Hi, the LUKS functionality does work. I use it daily on at least six machines ranging from servers to laptops. I've used it with ext4, lvm and, most recently, zfs. I also use Arch.

I've used whole disks that are LUKSFormatted with the detached header from the start, specifying a sector offset of zero so that there is no unused header space at the front (so encrypted the data starts at sector 0).

[2021-12-30 07:20] mxfm commented on #24
The patch indeed works. I aligned payload from 0 sector and grub can now read filesystem inside the container. It seems I just have forgotten about offsets when made a test case.

[2021-12-30 07:20] #24 closed

[2022-09-25 04:21] Shellcat-Zero opened #25 "Most recent, working, tested, and recommended source?"
I'm having trouble getting any posted version of grub to work that features johnlane's patches. I had tried a [highly updated fork](https://github.com/giddie/grub) from @giddie that I was able to get compiled after downgrading gcc to version 9, but it failed to install to the partition with `Decompressor is too big`. I then tried the [argon2_v2 fork](https://github.com/reagentoo/grub/tree/argon2_v

[2022-09-26 07:01] giddie commented on #25
I'm afraid I haven't updated my grub in several years :facepalm: It could well be that there's been some bitrot. I assume you have no trouble compiling standard grub?

[2022-09-30 03:29] Shellcat-Zero commented on #25
That is correct @giddie. I just cloned the official repo (grub 2.11), `git clone https://git.savannah.gnu.org/git/grub.git`, compiled it with gcc 11 (the default gcc version), and grub-install succeeded just fine onto the flash drive.

For anyone else interested, @reagentoo has also done a lot of work on this as described [in this issue](https://github.com/johnlane/grub/issues/21) for grub 2.06.

[2022-10-01 07:51] opk12 commented on #25
The GRUB 2.12 release is planned for the end of 2022, with support for Argon2, detached headers, keyfiles. LUKS2 is supported since 2.06.

Sources
- slide 4 of the [FOSDEM 2022 Project Status Update](https://archive.fosdem.org/2022/schedule/event/grub_status_update/) (link is under `Attachments`)
- some ML messages, in particular [`GRUB 2.12 release, etc.`](https://lists.gnu.org/archive/html/grub-

[2022-10-01 08:04] opk12 commented on #21
In # 25 it is mentioned that GRUB 2.12, planned for the end of 2022, supports Argon2, detached headers, keyfiles. What else do these forks have that is not in 2.12?

[2022-10-01 08:25] rnhmjoj commented on #21
Probably support for multiple password attemps and whole devices as keyfile.

[2022-10-03 08:11] giddie commented on #25
My setup includes a LUKS-formatted keyfile that I use as a simple 2FA: I boot from a USB drive containing the keyfile. I enter a password, which unlocks the LUKS-formatted keyfile. The whole resulting device is my plaintext keyfile (just some random data), which is used to unlock /boot and load the main boot menu.

If this (or a similar 2FA mechanism to boot into an encrypted /boot) is possible up

[2022-10-04 08:40] johnlane commented on #25
I have not looked at this for quite some time, I am pleased to see that [it looks like it's going to make it](https://www.phoronix.com/news/GRUB-2022) upstream in the next release later this year. I want to say thanks to those that helped make that happen.

I haven't tried to build with the patch set in a while but it failed the last time I tried to and, unfortunately, other priorities meant that'

[2022-10-04 09:36] johnlane commented on #21
I think whole devices as keyfile still works but the way it's specified has changed (at least according to the [documentation](https://git.savannah.gnu.org/cgit/grub.git/tree/docs/grub.texi#n4530)). I don't know about the multiple password attempts but that feature was added because it was asked for when the initial patch set was reviewed. I think the main missing thing is plain mode.

[2022-10-04 11:41] opk12 commented on #25
Ah, for plain encryption mode, there is a patch in the ML to add `plainmount`. It is v7 as of September 2022 [here](https://lists.nongnu.org/archive/html/grub-devel/2022-09/msg00093.html) but discussed in the ML since January 2022.

[2022-10-04 11:42] opk12 commented on #21
(As mentioned in # 25, a patch for plain mode is being worked on in the ML as of September 2022, not yet merged)

[2022-10-05 13:22] johnlane commented on #25
I really don't understand why the plain mode wasn't liked. It was basically a shift of the dmcrypt code out of the luks module into the cryptodisk module (on which the luks module depends), the result being that the luks module continued working as it did but the cryptodisk module also had code that could be used in plain mode. None of the crypto code was new, it all pre-existed.
I'm not using pla

[2022-10-08 14:15] Shellcat-Zero commented on #25
Does it appear that @giddie's device-as-keyfile functionality will be possible in the 2.12 release?

If anyone can provide details for compiling some working source with johnlane's patches (like maybe the gcc version used for your source), I would still greatly appreciate it as opposed to waiting for months longer to get these functionalities. All of the work done by johnlane, giddie, and reagento

[2022-10-10 07:19] giddie commented on #25
@Shellcat-Zero Are you sure you need 2.12? I actually haven't got around to rebuilding my bootloader since 2.04. You could just check out an old tag and build from there?

[2022-10-10 07:44] Shellcat-Zero commented on #25
@giddie that is what I am requesting actually. I've been checking out old sources but they are failing, presumably due to newer gcc.